<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152610794945-o05amro6k5e0imsnjdo1judbcpmm4pg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152610794945-o05amro6k5e0imsnjdo1judbcpmm4pg0</string>
	<key>API_KEY</key>
	<string>AIzaSyByl6NLUDx1c01NQOc__MyjfxAwxpPUT4A</string>
	<key>GCM_SENDER_ID</key>
	<string>152610794945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.washMesh</string>
	<key>PROJECT_ID</key>
	<string>wash-mesh-92883</string>
	<key>STORAGE_BUCKET</key>
	<string>wash-mesh-92883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152610794945:ios:e3565d8600b8bd64865340</string>
</dict>
</plist>